In [40]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [33]:
tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [14]:
tablas[19]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,England,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Iran,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,United States,0,0,0,0,0,0,0,0,NaN
3,4,Wales,0,0,0,0,0,0,0,0,NaN

In [16]:
tablas[19].columns[1]

'Teamvte'

In [34]:
grupos = {}
for letra, elemento in zip(alfabeto, range(12,68, 7)):
    df = tablas[elemento]
    df.rename(columns = {df.columns[1]: 'Team'}, inplace = True)
    df.pop('Qualification')
    grupos[f'Grupo {letra}'] = df

In [38]:
grupos['Grupo C']

   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0

In [41]:
with open('grupos_mundial', 'wb') as output:
    pickle.dump(grupos, output)